<div class="data-table-wrapper">
<table class="data-table">
  <thead>
    <tr>
     @for (col of columns; track col.key) {
  <th
    (click)="col.sortable && onSort(col.key)"
    [class.data-table__sortable]="col.sortable"
  >
    {{ col.header }}
    @if (col.sortable && sortKey === col.key) {
      <span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
    }
  </th>
}
@if (showActions) {
  <th></th>
} 
    </tr>
  </thead>
  <tbody>
   @for (row of data; track row) {
  <tr>
    @for (col of columns; track col.key) {
      <td>
        @if (col.key === 'durum') {
          <span [appDurumRozeti]="row[col.key]">{{ row[col.key] }}</span>
        } @else if (col.key === 'puan') {
          <span class="yildiz-gosterim">{{ row[col.key] | yildiz }}</span>
        } @else if (col.key === 'eklenmeTarihi') {
          <span>{{ row[col.key] | turkceTarih }}</span>
        } @else {
          <span>{{ row[col.key] }}</span>
        }
      </td>
    }
    @if (showActions) {
      <td class="data-table__actions">
        <button (click)="edit.emit(row)" class="data-table__btn data-table__btn--edit">Düzenle</button>
        <button (click)="delete.emit(row)" class="data-table__btn data-table__btn--delete">Sil</button>
      </td>
    }
  </tr>
}
@if (data.length === 0) {
  <tr>
    <td [attr.colspan]="columns.length + (showActions ? 1 : 0)">
      <ng-content select="[emptyState]"></ng-content>
    </td>
  </tr>
} 
  </tbody>
</table>
</div>