<div class="data-table-wrapper">
<table class="data-table">
  <thead>
    <tr>
      <th
        *ngFor="let col of columns"
        (click)="col.sortable && onSort(col.key)"
        [class.data-table__sortable]="col.sortable"
      >
        {{ col.header }}
        <span *ngIf="col.sortable && sortKey === col.key">
          {{ sortDirection === 'asc' ? '▲' : '▼' }}
        </span>
      </th>
      <th *ngIf="showActions"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let col of columns">
  <span *ngIf="col.key === 'durum'" [appDurumRozeti]="row[col.key]">
    {{ row[col.key] }}
  </span>
  <span *ngIf="col.key === 'puan'" class="yildiz-gosterim">
  {{ row[col.key] | yildiz }}
</span>
  <span *ngIf="col.key === 'eklenmeTarihi'">
    {{ row[col.key] | turkceTarih }}
  </span>
  <span *ngIf="col.key !== 'durum' && col.key !== 'puan' && col.key !== 'eklenmeTarihi'">
    {{ row[col.key] }}
  </span>
<td *ngIf="showActions" class="data-table__actions">
          <button (click)="edit.emit(row)" class="data-table__btn data-table__btn--edit">Düzenle</button>
          <button (click)="delete.emit(row)" class="data-table__btn data-table__btn--delete">Sil</button>
        </td>
    </tr>
    <tr *ngIf="data.length === 0">
      <td [attr.colspan]="columns.length + (showActions ? 1 : 0)">
        <ng-content select="[emptyState]"></ng-content>
      </td>
    </tr>
  </tbody>
</table>
</div>